In [3]:
# load in packages 
import pandas as pd #pandas is a package for data analysis and manipulation
import seaborn as sn #seaborn is a data visualization package

In [5]:
# load in the data using pandas
infile = '../OEAS895/city_temperature.csv'
data= pd.read_csv(infile, sep=',')

C:\Users\zacha\AppData\Local\Temp\ipykernel_6208\2091459776.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv(infile, sep=',')

In [7]:
data

,Region,Country,State,City,Month,Day,Year,AvgTemperature
0,Africa,Algeria,NaN,Algiers,1,1,1995,64.2
1,Africa,Algeria,NaN,Algiers,1,2,1995,49.4
2,Africa,Algeria,NaN,Algiers,1,3,1995,48.8
3,Africa,Algeria,NaN,Algiers,1,4,1995,46.4
4,Africa,Algeria,NaN,Algiers,1,5,1995,47.9
...,...,...,...,...,...,...,...,...
2906322,North America,US,Additional Territories,San Juan Puerto Rico,7,27,2013,82.4
2906323,North America,US,Additional Territories,San Juan Puerto Rico,7,28,2013,81.6
2906324,North America,US,Additional Territories,San Juan Puerto Rico,7,29,2013,84.2
2906325,North America,US,Additional Territories,San Juan Puerto Rico,7,30,2013,83.8
2906326,North America,US,Additional Territories,San Juan Puerto Rico,7,31,2013,83.6

In [8]:
# useful functions for exploring data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2906327 entries, 0 to 2906326
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   Region          object
 1   Country         object
 2   State           object
 3   City            object
 4   Month           int64
 5   Day             int64
 6   Year            int64
 7   AvgTemperature  float64
dtypes: float64(1), int64(3), object(4)
memory usage: 177.4+ MB

In [19]:
data.shape

(2906327, 8)

In [20]:
data.size

23250616

In [21]:
data.columns

Index(['Region', 'Country', 'State', 'City', 'Month', 'Day', 'Year',
       'AvgTemperature'],
      dtype='object')

In [23]:
#descriptive statistics

data.describe()

              Month           Day          Year  AvgTemperature
count  2.906327e+06  2.906327e+06  2.906327e+06    2.906327e+06
mean   6.469163e+00  1.571682e+01  2.006624e+03    5.600492e+01
std    3.456489e+00  8.800534e+00  2.338226e+01    3.212359e+01
min    1.000000e+00  0.000000e+00  2.000000e+02   -9.900000e+01
25%    3.000000e+00  8.000000e+00  2.001000e+03    4.580000e+01
50%    6.000000e+00  1.600000e+01  2.007000e+03    6.250000e+01
75%    9.000000e+00  2.300000e+01  2.013000e+03    7.550000e+01
max    1.200000e+01  3.100000e+01  2.020000e+03    1.100000e+02

In [24]:
data.corr()

                   Month       Day      Year  AvgTemperature
Month           1.000000  0.011209 -0.026898        0.075037
Day             0.011209  1.000000 -0.002213        0.000100
Year           -0.026898 -0.002213  1.000000        0.087245
AvgTemperature  0.075037  0.000100  0.087245        1.000000

In [33]:
cities = data.City.unique()
cities

array(['Algiers', 'Bujumbura', 'Cotonou', 'Bangui', 'Brazzaville',
       'Cairo', 'Addis Ababa', 'Libreville', 'Banjul', 'Conakry',
       'Bissau', 'Abidjan', 'Nairobi', 'Rabat', 'Antananarivo',
       'Nouakchott', 'Lilongwe', 'Maputo', 'Windhoek', 'Niamey', 'Lagos',
       'Dakar', 'Freetown', 'Capetown', 'Lome', 'Tunis', 'Dar Es Salaam',
       'Kampala', 'Lusaka', 'Dhaka', 'Beijing', 'Chengdu', 'Guangzhou',
       'Shanghai', 'Shenyang', 'Hong Kong', 'Bombay (Mumbai)', 'Calcutta',
       'Chennai (Madras)', 'Delhi', 'Jakarta', 'Osaka', 'Sapporo',
       'Tokyo', 'Almaty', 'Bishkek', 'Vientiane', 'Kuala Lumpur',
       'Ulan-bator', 'Rangoon', 'Katmandu', 'Pyongyang', 'Islamabad',
       'Karachi', 'Manila', 'Singapore', 'Seoul', 'Colombo', 'Taipei',
       'Dusanbe', 'Bangkok', 'Ashabad', 'Tashkent', 'Hanoi', 'Brisbane',
       'Canberra', 'Melbourne', 'Perth', 'Sydney', 'Auckland', 'Tirana',
       'Vienna', 'Minsk', 'Brussels', 'Sofia', 'Zagreb', 'Nicosia',
       'Prague', 'Copenhagen', 'Helsinki', 'Paris', 'Bordeaux', 'Bonn',
       'Frankfurt', 'Hamburg', 'Munich', 'Tbilisi', 'Athens', 'Budapest',
       'Reykjavik', 'Dublin', 'Milan', 'Rome', 'Riga', 'Skopje',
       'Amsterdam', 'Oslo', 'Warsaw', 'Lisbon', 'Bucharest', 'Moscow',
       'Yerevan', 'Pristina', 'Bratislava', 'Barcelona', 'Bilbao',
       'Madrid', 'Stockholm', 'Bern', 'Geneva', 'Zurich', 'Kiev',
       'Belfast', 'London', 'Belgrade', 'Manama', 'Tel Aviv', 'Amman',
       'Kuwait', 'Beirut', 'Muscat', 'Doha', 'Dhahran', 'Riyadh',
       'Damascus', 'Ankara', 'Istanbul', 'Abu Dhabi', 'Dubai', 'Calgary',
       'Edmonton', 'Halifax', 'Montreal', 'Ottawa', 'Quebec', 'Regina',
       'Toronto', 'Vancouver', 'Winnipeg', 'Guadalajara', 'Mexico City',
       'Monterrey', 'Buenos Aires', 'Nassau', 'Hamilton', 'Belize City',
       'La Paz', 'Bridgetown', 'Brasilia', 'Rio de Janeiro', 'Sao Paulo',
       'Bogota', 'San Jose', 'Havana', 'Santo Domingo', 'Guayaquil',
       'Quito', 'Guatemala City', 'Georgetown', 'Port au Prince',
       'Tegucigalpa', 'Managua', 'Panama City', 'Lima', 'Paramaribo',
       'Montvideo', 'Caracas', 'Birmingham', 'Huntsville', 'Mobile',
       'Montgomery', 'Anchorage', 'Fairbanks', 'Juneau', 'Flagstaff',
       'Phoenix', 'Tucson', 'Yuma', 'Fort Smith', 'Little Rock', 'Fresno',
       'Los Angeles', 'Sacramento', 'San Diego', 'San Francisco',
       'Colorado Springs', 'Denver', 'Grand Junction', 'Pueblo',
       'Bridgeport', 'Hartford Springfield', 'Wilmington', 'Washington',
       'Washington DC', 'Daytona Beach', 'Jacksonville', 'Miami Beach',
       'Orlando', 'Tallahassee', 'Tampa St. Petersburg',
       'West Palm Beach', 'Atlanta', 'Columbus', 'Macon', 'Savannah',
       'Honolulu', 'Boise', 'Pocatello', 'Chicago', 'Peoria', 'Rockford',
       'Springfield', 'Evansville', 'Fort Wayne', 'Indianapolis',
       'South Bend', 'Des Moines', 'Sioux City', 'Goodland', 'Topeka',
       'Wichita', 'Lexington', 'Louisville', 'Paducah', 'Baton Rouge',
       'Lake Charles', 'New Orleans', 'Shreveport', 'Caribou', 'Portland',
       'Baltimore', 'Boston', 'Detroit', 'Flint', 'Grand Rapids',
       'Lansing', 'Sault Ste Marie', 'Duluth', 'Minneapolis St. Paul',
       'Jackson', 'Tupelo', 'Kansas City', 'St Louis', 'Billings',
       'Great Falls', 'Helena', 'Lincoln', 'North Platte', 'Omaha',
       'Reno', 'Las Vegas', 'Concord', 'Atlantic City', 'Newark',
       'Albuquerque', 'Albany', 'Buffalo', 'New York City', 'Rochester',
       'Syracuse', 'Asheville', 'Charlotte', 'Greensboro',
       'Raleigh Durham', 'Bismarck', 'Fargo', 'Akron Canton',
       'Cincinnati', 'Cleveland', 'Dayton', 'Toledo', 'Youngstown',
       'Oklahoma City', 'Tulsa', 'Eugene', 'Medford', 'Salem',
       'Allentown', 'Erie', 'Harrisburg', 'Philadelphia', 'Pittsburgh',
       'Wilkes Barre', 'Rhode Island', 'Charleston', 'Columbia',
       'Rapid City', 'Sioux Falls', 'Chattanooga', 'Knoxville', 'Memphis',
       'Nashville', 'Abilene', 'Amarillo', 'Austin', 'Brownsville',
       'Corpus Christi', 'Dallas Ft Worth', 'El Paso', 'Houston',
       'Lubbock', 'Midland Odessa', 'San Angelo', 'San Antonio', 'Waco',
       'Wichita Falls', 'Salt Lake City', 'Burlington', 'Norfolk',
       'Richmond', 'Roanoke', 'Seattle', 'Spokane', 'Yakima', 'Elkins',
       'Green Bay', 'Madison', 'Milwaukee', 'Casper', 'Cheyenne',
       'San Juan Puerto Rico'], dtype=object)

In [6]:
#Conver from F to C
data['AvgTemperatureC'] = (data.AvgTemperature = 32) *5/9

SyntaxError: invalid syntax (665020123.py, line 3)